/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 //
 // @font-face {
 //   font-family: 'starjedihol';
 //   font-style: normal;
 //   font-weight: normal;
 //   src:font-url('Starjhol.tff') format("trueype");
 // }

// h1 {
//   font-family: starjedihol;
// }

.login-form-row {
  margin-top: 50px
}
body.signed-in {
  background-color: #F5F6F6;
}

li.list-group-item {
  border: transparent
}

body {
  font-family: Proxima, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.navbar {
  background: transparent;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  font-family: Proxima, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(56, 151, 170);
  font-weight: normal
}

a.navbar-brand {
  padding: 0px 0px 0px 0px;
}

body .btn-std-color {
  color: white;
  background-color: #1DA3BF;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

body .btn-std-color:hover {
  background-color: #0d7488;
  color: white
}

body.btn-alt-color {

  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

body .navbar-img {
  overflow: hidden;
}


h4.input-fields-title {
  font-family: Proxima, Arial, Helvetica, sans-serif;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #EBECEC;
  padding-bottom: 10px;
  padding-top: 10px;
}

div.form-field-title-section {
  color: #969d9e;
  font-size: 16px;
}

div.view-header {
  background-color: black;
  padding:  25px 8px 0px 8px;
  height: 100px;
  width: 100%
}

nav ul.navbar-right {
  background-color: #F5F6F6;
  border-radius: 6px

}

section.front-page {
  font-family: Proxima, Arial, Helvetica, sans-serif;
}

section.front-page .hiw {
  color: #00964B
}

section.front-page .front-page-headers {
  font-size: 27px;
}

section.front-page .front-page-gray {
  color: #828A8B
}

section.front-page .title-mod {
  font-size: 32px;
  font-weight: 300;
  height: 44px;
  text-align: center;
}

section.front-page .glyphicon-front-page {
  color: #00964B;
  font-size: 44px;
}

section.front-page .glyphicon-front-arrow {
  font-size: 44px;
  color: #ECEDED
}

section.front-page .front-page-lower {
  font-size: 18px;
}

div.date-picker_date-container {
  font-family: Proxima, Arial, Helvetica, sans-serif;
}

div.date-picker_date-container.u-semibold {
  font-weight: bold;
}

div.date-picker_date-container.active {
  color: white;
  background-color: #00964B
}

nav a.ur-nav.header-link-first::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 1px;
  vertical-align: middle;
}

#main {
  width: 100%;
  height: 100%;
}

body .taskforce-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

body .taskforce-modal-initial {
  opacity: 0;
}

body .taskforce-modal-final {
  opacity: 1;

}

body .taskforce-modal div.taskforce-modal-window {
  position: absolute;
  top: 200px;
  left: 700px;
  width: 200px;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  z-index: 200;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
