/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 //
 // @font-face {
 //   font-family: 'starjedihol';
 //   font-style: normal;
 //   font-weight: normal;
 //   src:font-url('Starjhol.tff') format("truetype");
 // }

// h1 {
//   font-family: starjedihol;
// }

.navbar {
  background: transparent;
}

.navbar-default .navbar-nav > li > a {
  font-family: Proxima, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(56, 151, 170);
  font-weight: normal
}

body .btn-std-color {
  background-color: #1DA3BF;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

body .btn-std-color:hover {
  background-color: #0d7488
}

body .profile-img {
  overflow: hidden;
}
