// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #CAEBF2;
$task-border-radius: 5px;

#task-rate {
  top: 20%;
  outline: none;
}

#task-rate .modal-content.modal-rating {
  background-color: #white;
}

body .tasker-dead {
  text-decoration: line-through;
}

.mini-task {
  background-image: none;
  margin-bottom: 20px;
  padding: 0px 0px 0px 0px;
  background-color: $background;
  border-radius: $task-border-radius;
  transition: background 0.5s linear, color 0.25s linear
  overflow: hidden
}

.mini-task-list > li {
  background-image: none;
  // background-color: $background;
  background-color: inherit;
}

.mini-task > ul {
  background-color: inherit;
}

.list-group.mini-task-list {
  // background-color: $background;
}

.mini-task:hover {
  background-color: blue;
  color: white;
}

mini-task-button {
  border-radius: $task-border-radius
}
