// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #CAEBF2;

#task-rate {
  top: 20%;
  outline: none;
}

#task-rate .modal-content.modal-rating {
  background-color: #white;
}

body .tasker-dead {
  text-decoration: line-through;
}

.mini-task {
  background-image: none;
  margin-bottom: 20px;
  background-color: $background;
  border-radius: 5px;
}

.mini-task-list > li {
  background-image: none;
  // background-color: $background;
  background-color: inherit;
}

.list-group.mini-task-list {
  // background-color: $background;
}

.mini-task:hover {
  background-color: black;
}
