// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #CAEBF2;
$task-border-radius: 5px;
$background-hover-color: #A3D6A7;
$subheading-color: #969d9e;

#task-rate {
  top: 20%;
  outline: none;
}

#task-rate .modal-content.modal-rating {
  background-color: #white;
}

body .tasker-dead {
  text-decoration: line-through;
}

.rate-tasker:active {
  outline: 0;
}

.mini-task {
  background-image: none;
  margin-bottom: 20px;
  padding: 0px 0px 0px 0px;
  background-color: $background;
  border-radius: $task-border-radius;
  transition: background 0.5s linear, color 0.25s linear;
  overflow: hidden
}

.mini-task-list > li {
  background-image: none;
  background-color: inherit;
}

.mini-task > ul {
  background-color: inherit;
}

.list-group.mini-task-list {
  // background-color: $background;
}

.mini-task:hover {
  background-color: #0d7488;
  color: white;
}

.mini-task-button {
  border-radius: $task-border-radius;
}

.list-images {
  border-radius: 5px;
  transition: all 0.2s;
  ul {
    list-style-type: none;
  }

  img {
    filter: inherit;
    -webkit-filter: inherit;
  }
}

section.form-area div.new-task-form {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 10px;
  .subheading {
    color: $subheading-color
  }
}

ul.radio-image-list {
  padding: 10px 10px 10px 10px;
  transition: all 5s;

  img {
    max-height: 200px;
    align: center;
    overflow: hidden;
  }
}

div.planet-profile-image {
  width: 300px;
  overflow: hidden;
  background-color: black;
}

div.profile-image {
  width: 300px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

input[type=radio]:not(:checked) + label:hover {
  background-color: $background-hover-color;
  filter: brightness(1.3) contrast(110%);
  -webkit-filter: brightness(1.3) contrast(110%);
}

input[type=radio]:checked + label {
  background-color: $background-hover-color;

  img {
    filter: brightness(1.3) contrast(110%);
    -webkit-filter: brightness(1.3) contrast(110%);
  }
}


.tasker-rated {
  background-color: inherit
}

.task-area {
  background-color: white;
  padding-top: 10px;
  height: 100vh;
}

.task-heading {
  padding-left: 15px
}

.task-heading-area {
  color: white;
  background-image: image-url('jedi_background.png');
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
  overflow: hidden;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto
}
