// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$profile-background: #D1DFD2;
$profile-border-radius: 5px;
$profile-border: 1px solid rgba(228, 229, 229, 1);
$division-background-color: #00964B;

a.a-rating {
  text-decoration: none
}

a.a-rating:hover {
  text-decoration: none;
  cursor: default
}

a.rating-tasks {
  color: #323A3B;
}

body .profile-modal {
  position: relative;
  top: 50px;
  width: 750px;
}

body .profile-area {
  background-color: $profile-background;
  border-radius: $profile-border-radius;
  padding: 0px 0px 0px 0px;
}

body .close-profile-button {
  background-color: $division-background-color;
  border-top-right-radius: $profile-border-radius;
  border-top-left-radius: $profile-border-radius;
}

button.close-profile-button {
  border: 0px transparent;
  margin: 6px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  font-size: 25px;
  line-height: 15px;
}

.profile-picture {
  border: 2px solid black;
}
.profile-modal .profile-border {
  background-color: $profile-background;
  margin-bottom: 0px
}

h2.profile-name {
  background-color: #00964B;
  color: white;
  margin-top: 0px;
  text-align: center;
}

.tasker-area.margin-bottom {
  margin-bottom: 50px;
}

.profile-picture-container {
  width: 32.6%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}


.profile-picture-container-top {
  padding-bottom: 20px;
}

.profile-picture-container-bottom {
  padding-top: 20px;
  border-top: 1px solid gray;
}
