// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.a-rating {
  text-decoration: none
}

a.a-rating:hover {
  text-decoration: none;
  cursor: default
}

a.rating-tasks {
  color: #323A3B;
}
