<section class="about container">
  <div class="col-md-4 col-md-offset-4">
    <h1>About TaskForce</h1>
    At TaskForce, we have the help you're looking for. More details coming soon,
    but for now, go to the 'New Task' link to create a task and find a Tasker!
  </div>
</section>
