<section class="about container">
  <div class="col-md-6 col-md-offset-3">
    <h1>About TaskForce</h1>
    At TaskForce, we have the help you're looking for. Go to the 'New Task' link to create a task and find a Tasker!
    <h2>Why TaskForce is Different</h2>
    TaskForce is the only task service that guarantees 100% satisfaction with
    all tasks. If a Tasker fails to satisfy a customer's expectations, they
    are permanently removed.
  </div>
</section>
