<section class="container">
  <h3 class="mod-centy">How <em>TaskForce</em> Works</h3>
  <div class="col col-md-3">
    <h4 class="green">Describe Your Task</h4>
    This helps us determine which Taskers are best for your job.
  </div>
  <div class="col col-md-1">
  </div>
  <div class="col col-md-3">
    <h4 class="green">Choose a Tasker</h4>
    All Taskers are fully-vetted & community-reviewed.
  </div>
  <div class="col col-md-3">
    <h4 class="green">Kick Back & Relax</h4>
    If you are not fully satisfied, the Tasker will be removed from our database.
  </div>
