<% var pick_me = pick_me || false %>
<div class="col-md-4">
  <img src="<%= user.get('profile_url') %>">
  <ul class="list-group">
    <li class="list-group-item"><%= user.get('name') %></li>
    <li class="list-group-item">100% Positive <%= user.get('num_completed') %> completed</li>
  </ul>
  <% if (pick_me) { %>
    <button type="button" class="btn btn-default btn-large btn-std-color select-me"
      data-id="<%= user.get('id') %>">Choose This Tasker</button><br>
    <a href="javascript:void(0)">See reviews & profile</a>
  <% } %>
</div>
